body{
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(#fefefe, #FDEBD0);
}

.nav-link{
    text-transform: uppercase;
    color: #C78C19;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.nav-link:hover{
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------*/
 
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form{
    width: 45%;
    margin-left: 1rem;
}


.btn-enviar{
    margin-bottom: 4rem;
    background-color: #943126;
    border: none;
    width: 10rem;
} 

.cont-der{
    width: 45%;
    height: 350px;
    background: white;
    color: #00000080;
    margin-left: 3rem;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 2rem;
}

.datos-contacto{
    list-style: none;
}


/* ------------------------------------------------------------------------------*/

footer{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #E6B0AA;
}

@media screen and (max-width: 576px){
    .form{
        width: 100%;
        margin-left: 1rem;
    }

    .cont-der{
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
        margin-left: .5rem;
        font-size: 13px;
        padding: 5px 5px 5px 5px;
    }
    h1{
        font-size: 15px;
        padding-left: 1rem;
        padding-top: 1rem;
    }
}
