body{
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(#fefefe, #FDEBD0);
    /*background: linear-gradient(#fefefe, #888888);*/
}

.nav-link{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.nav-link:hover{
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------*/
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text{
    width: 50%;
}

.media-body {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 22px;
    text-align: justify;
}

.cont-der{
    width: 40%;
    margin-left: 5rem;
}

.imagen{
    width: 100%;
}

/* ------------------------------------------------------------------------------*/

footer{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #E6B0AA;
}

/* ------------------------------------------------------------------------------*/

@media screen and (max-width: 576px){
    .text{
        width: 100%;
    }
    .imagen{
        width: 100%;
    }
    .media-body {
        font-size: 16px;
    } 
}