 /* rec-header */   
 .menuprincipal{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 118px;
    left: 0px;
    right: 100%;
    top: 0px;
}

/* logotipo de header*/    
.logontm{   
   position: absolute;
   height: 92.38px;
   left: 155px;
   top: 13px;
}

/* descripcion de caracteristicas del texto menu*/     
.navegacionmenu a{
   text-transform: uppercase;
   color: #C78C19;
   font-size: 18px;
   font-weight: bold;
   text-decoration: none;
}
